.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
        align-items: center;
    }
}

.card {
    margin: auto;
    padding: 100px;
    border-radius: 10000px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid white;
    color: #000;
    margin-top: 40px;
    gap: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
}

.textCard {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 30%;
    align-items: center;

    @media (max-width: 768px) {
        width: 100%;
        align-items: center;
        margin-bottom: 20px;
    }
}

.textCard h2 {
    font-size: 5.5rem;
    font-weight: 500;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 3.5rem;
    }
}

.textCard p {
    font-size: 18px;
    transform: translateY(-35px);

    @media (max-width: 768px) {
        transform: translateY(0);
    }
}

.section .card:first-child {
    background-color: #e0fd60;

    @media (max-width: 768px) {
        margin-bottom: 20px;
    }
}

.card:nth-child(2) {
    background-color: #f2f0f2;

    @media (max-width: 768px) {
        margin-bottom: 20px;
    }
}

.card:nth-child(3) {
    background-color: #000;
    color: #f2f0f2;

    @media (max-width: 768px) {
        margin-bottom: 20px;
    }
}

.video {
    width: 35%;
    border: none;
    outline: none;
    margin-top: 20px;

    @media (max-width: 768px) {
        width: 100%;
    }
}